*~
*.pyc
*.DS_Store
/docs/*build/*
/docs/*/build/*
/cache/*
/static/*
/src/__pycache__/*
/src/.coverage
/src/coverage_data
/swagger/*index.html
/swagger/*/index.html
.idea/
.vscode/
ubuntu-xenial-16.04-cloudimg-console.log
.ropeproject/
.venv_metax/
.env
.env.*
!.env.template
*.pem
/src/log
/src/metax_api/templates/swagger

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
