coveralls==1.2.0 # code coverage reportin in travis
dicttoxml==1.7.4
Django==1.11.6  # BSD-license
elasticsearch==5.4.0
hiredis==0.2.0 # Used by redis (redis-py) for parser
djangorestframework==3.7.1  # BSD-license
django-rainbowtests==0.6.0 # colored test output
flake8==3.5.0 # MIT-license
gevent==1.2.2 # gunicorn dep
gunicorn==19.7.1 # MIT-license
ipdb==0.10.3 # dev tool
jsonschema==2.6.0
pika==0.11.0
psycopg2==2.7.3.1  # LGPL with exceptions or ZPL
python-simplexquery==1.0.5.3
pyyaml==3.12
redis==2.10.6
requests==2.18.4  # Apache 2.0-license
simplejson==3.11.1  # MIT-license
urllib3==1.22
