[run]
omit =
    */migrations/*
    */__init__.py
    metax_api/wsgi.py
    */tests/*
    */settings/components/*
    */settings/environments/*
    */manage.py
    */urls.py
    */router.py

[report]
exclude_lines =
    # type a python comment to exclude line or branch: # pragma: no cover
    pragma: no cover
    def __repr__
    def __str__
    if self.debug
    if self._debug
    if self._DEBUG
    if settings.DEBUG
    if DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: