[run]
omit =
    */migrations/*
    */__init__.py
    metax_api/settings.py
    metax_api/wsgi.py
    metax_api/tests/testdata/generate_test_data.py
    metax_api/tests/testdata/request_test.py
    metax_api/cron/update_reference_data.py

[report]
exclude_lines =
    # type a python comment to exclude line or branch: # pragma: no cover
    pragma: no cover
    def __repr__
    def __str__
    if self.debug
    if self._debug
    if self._DEBUG
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: